<% provide :title, t(".page_title") %>
<div class="center jumbotron">
  <h1>
    <%= t ".heading" %>
  </h1>
  <h2>
  <!--   <%= t ".title" %> -->
    <%= t ".intro" %>
    <%= t ".name" %>
  </h2>
</div>
